html, body {
    font-family: sans-serif;
    margin: 0px;
    width: 100%;
    height: 100%;
}
#appcontent {
    width: 100%;
    height: 100%;
}
#map-canvas {
    position: absolute;
    top: 46px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}
header {
    position: absolute;
    z-index: 990;
    top: 0px;
    left: 0px;
    right: 0px;    
    height: 46px;
    background-color: #4d6051;
    box-shadow: 0px 2px 3px #000000;
}

#cssmenu{
  z-index: 1000;
}

.ol-popup {
  position: absolute;
  background-color: white;
  -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
  filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  bottom: 12px;
  left: -50px;
  min-width: 280px;
  max-width: 95%;
}
.ol-popup:after, .ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.ol-popup:after {
  border-top-color: white;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}
.ol-popup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}
.ol-popup-closer {
  text-decoration: none;
  position: absolute;
  top: 2px;
  right: 8px;
}
.ol-popup-closer:after {
  content: "✖";
}

.ol-popup img{
  max-width: 100%;
  max-height: 200px;
  
}

.popup-page{
  display: none;
  position: absolute;
  z-index: 990;
  top: 52px;
  left: 1em;
  right: 1em;
  bottom: 1em;
  padding: 1em;
  background-color: #ffffff;
  border: solid gray 1px;
  opacity: 0.9;
  border-radius: 1em;
  overflow-y: auto;
}

.popup-page-closer{
  float: right;
}

.tenbreaths-survey-info-float{
  float: right;
}

.tenbreaths-survey-info-float img{
  max-height: 300px;
  max-width: 300px;
  opacity: 1;
  
}

.osm-tag-cloud{
  max-width: 300px;
  border:solid 1px black;
  padding: 1em;
  text-align: center;
  vertical-align: -40%;
  line-height: 0.9;
  font-family: Arial;
}
.osm-tag-cloud span{
  /*text-shadow: 0px 0px 20px blue;*/
  
}
.osm-tag-cloud-01{
  font-size:110%;
  z-index: 1001;
}
.osm-tag-cloud-02{
  font-size:120%;
  z-index: 1002;
}
.osm-tag-cloud-03{
  font-size:130%;
  z-index: 1003;
}
.osm-tag-cloud-04{
  font-size:140%;
  z-index: 1004;
}
.osm-tag-cloud-05{
  font-size:150%;
  z-index: 1005;
}
.osm-tag-cloud-06{
  font-size:160%;
  z-index: 1006;
}
.osm-tag-cloud-07{
  font-size:170%;
  z-index: 1007;
}
.osm-tag-cloud-08{
  font-size:180%;
  z-index: 1008;
}
.osm-tag-cloud-09{
  font-size:190%;
  z-index: 1009;
}

.osm-tag-cloud-10{
  font-size:200%;
  z-index: 1010;
}

.popup-page #ell-logo,
.popup-page #rbge-logo{
  width: 400px;
  max-width: 90%;
}

#apple-badge{
  height: 52px;
  padding-top: 9px;
  padding-bottom: 15px;
  max-width: 90%;
}

#google-badge{
  height: 80px;
  max-width: 90%;
}

.popup-has-image{
  min-height: 300px;
}

.popup-lacks-image .popup-lacks-comment hr{
  display: none;
}

#popup-buttons{
  border-top: none;
}


#popup-content strong{
  font-size: 14px;
  font-weight: normal;
}


/* buttons on popup */
#popup-buttons{
  border-top: solid 1px #ccc;
  border-bottom: solid 1px #ccc;
  padding-top: 4px;
  padding-bottom: 4px;
  text-align: center;
  margin-top: 0px;
}

#popup-buttons button{
  border: none;
  border-radius: 3px;
  background-color: #eee;
  font-size: 10px;
  
}

#popup-buttons button:hover{
  background-color: #ccc;
}

div.ol-popup hr{
  border-top: 1px solid #ccc;
  border-bottom: none;
  border-left: none;
  border-right: none;
} 

div.ol-popup button svg{
  height:24px;
  max-width: 24px;
  margin: 2px;
}

/* Facebook */
#popup-fb-share svg{
  fill: #3B5998;
}

/* Twitter */
#popup-twitter-share svg{
  fill: #4099ff;
}

#popup-report svg{
  fill: red;
}
